<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">

        <div class="user-info" id="user-info">
            <div class="side-bar">
                <a href="#" style="background: linear-gradient(to bottom, #042ca3 0%, #0954c5 100%);">User_Name</a>
                <a href="#user-info" class="fa fa-user"> My profile</a>
                <a href="#course-detail" class="fa fa-book"> Course Detail</a>
                <a href="#affliate" class="fa fa-link"> Affliate Links</a>
                <a href="#bankdetail" class="fa fa-bank"> Bank Detail</a>
                <a href="#editinfo" class="fa fa-edit"> Edit Info</a>
                
            </div>

            <img src="01.jpg" alt="" height="200px" width="200px" style="padding: 50px 380px;">
            <table>
                <tr>
                    <th>Name : </th><td>Alfreds Futterkiste</td>
                    <th>Contact no. </th><td>+91 345678567</td>
                    
                </tr>
    
                <tr>
                    <th>Email : </th><td>GermanyAgmail.com</td>
                    <th>Address : </th><td>St. stret 445, downtown.</td>
                    
                    
                </tr>
                <tr>
                    <th>Country : </th><td>India</td>
                    <th>state : </th><td>Bihar</td>
                </tr>


            </table>
        </div>

        <div class="course-detail" id="course-detail"> course</div><br><br>
        
        <br><br><div class="affliate" id="affliate">
            <h1 style="margin: 0px 340px;">Affliate Links</h1><br><br>
            <input type="text" id="text" placeholder="https://affliatecity.com/referrer=S97gd67U">
            <input type="button" id="text" value="Copy Link">
        </div>

        <div class="bankdetail" id="bankdetail"><br><br>
            <h1 style="margin: 0px 340px;">Bank Details</h1><br>
            <table>
                <tr>
                    <th>Holder Name : </th><td>Alfreds Futterkiste</td>
                    <th>Bank Name : </th><td>Central Bank of India</td>
                    
                </tr>
    
                <tr>
                    <th>Account no. : </th><td>CBI983724562834</td>
                    <th>IFSC Code : </th><td>34567897654.</td>
                    
                    
                </tr>
                <tr>
                    <th>UPI ID : </th><td>Kashdou@pytm</td>
                    <th>Payment : </th><td>Processing...</td>
                </tr>
                <tr>
                    <th>Total Payout : </th><td>12000/-</td>
                </tr>
            </table>
        </div>

        <div class="editinfo" id="editinfo"> <br><br>
            <h1 style="margin: 0px 340px;">Edit Your Profile</h1><br>

            <form action="">
                <input type="text" id="text" placeholder="Full Name">
                <input type="email" id="text" placeholder="Email Id"><br>
                <input type="text" id="text" placeholder="Contact no.">

                <select name="state" id="text" class="form-control">
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                    <option value="Daman and Diu">Daman and Diu</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Lakshadweep">Lakshadweep</option>
                    <option value="Puducherry">Puducherry</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
                    </select>

                    <input type="text" id="text" placeholder="Country">

            </form><br><br><br>

            <br><br><h1 style="margin: 0px 340px;">Edit Bank detail</h1><br>
            <form action="">
                <input type="text" id="text" placeholder="Holder Name">
                <input type="text" id="text" placeholder="Bank Name"><br>
                <input type="password" id="text" placeholder="Account No.">
                <input type="password" id="text" placeholder="IFSC Code ">
                <input type="text" id="text" placeholder="UPI Id">
                    <input type="button" id="text" value="Submit">
    

            </form>
        </div>

    </div>
</body>

</html>